<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="connectionISOA" connectionString="Password=diensql;Persist Security Info=True;User ID=diensql;Initial Catalog=db_Cotraser_Isoa;Data Source=PTRI006125\TRIB_SQLEXPRESS"/>
  </connectionStrings>
  <SubSonicService defaultProvider="ISOAProvider" enableTrace="false" templateDirectory="">
    <providers>
      <clear/>
      <add name="ISOAProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="connectionISOA" generatedNamespace="Cotraser.Isoa.Domain" generateODSControllers="false"/>
    </providers>
  </SubSonicService>
</configuration>